.body {
    background-color: rgb(255, 235, 226);
    position: fixed;
    top:0;
    left:0;
    bottom:0;
    right:0;

    z-index: 11;
    margin: 10% 35%;
    text-align: center;
}

.text {
    font-family: 'Times New Roman', Times, serif;
    font-size: x-large;

    padding-top: 10%;
    padding-bottom: 10%;
    height:15rem;



}

.text div{
    font-size: 150%;
    margin: 15% 15%;

}


.action{
    border-radius:0px 0px 10px 10px;
    margin-top: 15%;
    height:15vh;
    box-shadow: 0 4px 8px rgba(0 0 0 0.26);
    background-color: rgb(60, 242, 255);
}

.action button{
    border-radius: 10px;
    border: 1px solid #4f005f;
    background: #4f005f;
    box-shadow: 0 4px 4px rgba(0 0 0 0.26) ;
    color:white;
    font-size: 150%;
    padding: 1% 5%;
    margin: 6% 5%;
    
}

.action button:hover,
.action button:active {
  background: #741188;
  border-color: #741188;
}