.block{
    margin-left: 3rem;
    width: fit-content;
    text-align: center;
}

.block.mainblock{
    top: 0;
    position: relative;     
}
.worker_data{
    font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    padding: 1rem;
    
}
.worker_data label{
    font-size:x-large ;
}
.edit_btn{
    border: none;
    background: transparent;
    float: left;
}

.delete_btn{
    border: none;
    background: transparent;
    float: right;
    font-size: large;
}

.add_btn{
    border-radius: 50%;
}
